{% load static %}

<!DOCTYPE html>
<html lang="fr">


<head>
    <meta charset="utf-8" />
    <title>Title</title>
    <link rel="stylesheet" href="styles.css" />
</head>
    <body>
            <header>
                <div>
                    <h1>
                        <a href="signup.html"> The square</a>
                    </h1>
                </div>
            </header>
            <section>
                <h2>SUCESS</h2>
                <h3>YOU ARE CONNECTED</h3>
                
            </section>
            <footer>
            </footer>
    </body> 
    
</html> 
