<!DOCTYPE html>
{% load static %}
<html lang="fr">


<head>
    <meta charset="utf-8" />
    <title>Pasteque | The ultimate chat !</title>
    <link rel="icon" href="media/media/icon.png" sizes="32x32" type="image/png"/>
    <link rel="stylesheet" href="{% static 'core/styles.css' %}" />
    
</head>
    <body>
            <header>
                <div class="header-div">
                    <a href=""><img width="200" height="75" src="{% static 'img/logo.png' %}" /> </a>
                </div>
            </header>
            <section>
                <div class="div-intro">
                    <h2> With pasteque discuss faster </h2>
                </div>
                <div class="div-text">
                    <p>
                        Finally, a place where you can chat with friends or strangers, have your own video game or sports chat channel,a place to hang out and have fun.
                    </p>
                    <p>
                       Here the possibilities are endless.
                    </p>
                </div>
                <div>
                    <button onclick="location.href = 'signup'" class="btn-1"> Sign up </button>
                    <button onclick="location.href = 'signin'" class="btn-2"> Sign in </button>
                </div>
            </section>
            <footer>
                <p>Create by Victor Murris and Rémi and Routier and Matthis Lahargoue &#169</p>
            </footer>
    </body> 
    
</html> 
