<!DOCTYPE html>
{% load static %}
<html lang="fr">


<head>
    <meta charset="utf-8" />
    <title>Pasteque | The ultimate chat</title>
    <link rel="icon" href="media/media/icon.png" sizes="32x32" type="image/png"/>
    <link rel="stylesheet" href="{% static 'core/styles.css' %}" />
    
</head>
    <body>
            <header>
                <div class="header-div">
                    <a href=""><img width="200" height="75" src="{% static 'img/logo.png' %}" /> </a>
                    <a href="settings" class="sett"><img width="40" height="40" src="{% static 'img/setting.png' %}"/> </a>
                </div>
            </header>
            <section>
                <div>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="form-type" value="croom" />
                        <input type="text" name="roomname" class="form" placeholder="Nom du Salon" />
                        <button type="submit" class="btn-1"> I create a room </button>
    
                    </form>
                </div>
                <div>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="form-type" value="jroom" />
                        <input type="text" name="roomid" class="form" placeholder="Tag du Salon" />
                        <div class="info-in">
                            {% for e in alers %}
                                <h5>{{e}}</h5>
                            {% endfor %}
                        </div>
                        <button type="submit" class="btn-1"> I join a room </button>
    
                    </form>
                </div>
            </section>
            <footer>
                <p>Create by Victor Murris and Rémi and Routier and Matthis Lahargoue &#169</p>
            </footer>
    </body> 
    
</html> 
