<!DOCTYPE html>
{% load static %}
<html lang="fr">


<head>
    <meta charset="utf-8" />
    <title>Pasteque | Le chat ultime</title>
    <link rel="icon" href="media/media/icon.png" sizes="32x32" type="image/png"/>
    <link rel="stylesheet" href="{% static 'core/styles.css' %}" />
    
</head>
    <body>
            <header>
                <div class="header-div">
                    <a href=""><img width="200" height="75" src="static/img/logo.png" /> </a>
                </div>
            </header>
            <section>
                <div>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <input type="text" name="roomname" class="form" placeholder="Roomname" />
                        <button type="submit" class="btn-1"> Je cree un salon </button>
    
                    </form>
            </section>
            <footer>
                <p>Crée par Victor Murris Rémi Routier...</p>
            </footer>
    </body> 
    
</html> 
