<!DOCTYPE html>
{% load static %}
<html lang="fr">


<head>
    <meta charset="utf-8" />
    <title>Pasteque | Le chat ultime</title>
    <link rel="icon" href="media/media/icon.png" sizes="32x32" type="image/png"/>
    <link rel="stylesheet" href="{% static 'core/styles.css' %}" />
    <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    
    
</head>
    <body>
            <header>
                <div class="header-div">
                    <a href=""><img width="200" height="75" src="{% static 'img/logo.png' %}" /> </a>
                </div>
            </header>
            <section>
                <div class="title">
                    <h2> {{ room.name }} - TAG : {{ room.room_id }} </h2>
                </div>
                <div class="left-panel">
                    <div class="select-room">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="form-type" value="jroom" />
                            <input type="text" name="roomid" class="form-tag" placeholder="Tag du Salon" />
                            <div class="info-in">
                                {% for e in messages %}
                                    <h5>{{e}}</h5>
                                {% endfor %}
                            </div>
                            <button type="submit" class="btn-7"> Je rejoins un salon </button>
                        </form>
                    </div>
                    <div class="logout">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="form-type" value="logout" />
                            <button type="submit" class="btn-7"> Je me deconecte </button>
                        </form>
                    </div>
                </div>
                <div class="msg-display">
                    <div class="msg" id="display">
                    </div>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="form-type" value="msg" />
                        <input type="text" name="message" class="msg-write" placeholder="Tapez votre message" />
                        <button type="submit" class="btn-6"> Envoyer un message </button>
                    </form>
                </div>
            </section>
            <footer>
                <p>Crée par Victor Murris Rémi Routier...</p>
            </footer>
    </body> 
    <script> 
        function admin(uid,rid) {
            var a = "/adm/"+uid+"/"+rid+"";
            $.ajax({
                type: 'GET',
                url : a,
                success: function(data){
                },
                error: function(data){
                }
            });
            
        }
        function ban(uid,rid) {
            var a = "/ban/"+uid+"/"+rid+"";
            $.ajax({
                type: 'GET',
                url : a,
                success: function(data){
                },
                error: function(data){ 
                }
            });
            
        }
        function mute(uid,rid) {
            var a = "/mute/"+uid+"/"+rid+"";
            $.ajax({
                type: 'GET',
                url : a,
                success: function(data){
                },
                error: function(data){
                }
            });
            
        }

        function delmess(id) {
            
            var b = "/deletemessage/"+id+"";
            $.ajax({
                type: 'GET',
                url : b,
                success: function(data){    
                },
                error: function(data){
                }
            });
            
        }
        function display_data () {
            setInterval(function(){
                $.ajax({
                    type: 'GET',
                    url : "/getMessages/{{room.room_id}}/",
                    success: function(response){
            
                        console.log(response);
                        $("#display").empty();
                        for (let i = response.mess.length; i > 0; i--)
                        {
                            var temp="<div class='msg-sender'>"+response.mess[i-1].sender+"</div><div class='msg-time'>"+response.mess[i-1].date+"</div> <div class='block-button'>{% if perm.level == 'owner' %}  <button id='btn-s' class='btn-8' onclick='delmess("+response.mess[i-1].id+")'> S </button>  {% endif %} </div> <div class='block-button'>{% if perm.level == 'owner' %}  <button id='btn-s' class='btn-8' onclick='ban("+response.mess[i-1].senderid+","+response.mess[i-1].roomid+")'> B </button>  {% endif %} </div> <div class='block-button'>{% if perm.level == 'owner' %}  <button class='btn-8' onclick='mute("+response.mess[i-1].senderid+","+response.mess[i-1].roomid+")'> M </button>  {% endif %} </div>  <div class='block-button'>{% if perm.level == 'owner' %}  <button class='btn-8' onclick='admin("+response.mess[i-1].senderid+","+response.mess[i-1].roomid+")'> A </button>  {% endif %} </div> <div class='msg-text'>"+response.mess[i-1].message+"</div>";
                            $("#display").append(temp);
                            
                        }
                        
                        
                        
                    },
                    error: function(response){
                        alert('An error occured')
            
                       
                    }
                });
            },1000);
        }
        $(document).ready(function(){
            display_data()      
        })

    </script>
</html> 
