<!DOCTYPE html>
{% load static %}
<html lang="fr">


<head>
    <meta charset="utf-8" />
    <title>Pasteque | Le chat ultime</title>
    <link rel="icon" href="media/media/icon.png" sizes="32x32" type="image/png"/>
    <link rel="stylesheet" href="{% static 'core/styles.css' %}" />
    <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    <script> 
        $(document).ready(function(){
        
            setInterval(function(){
                $.ajax({
                    type: 'GET',
                    url : "/getMessages/{{room.room_id}}/",
                    success: function(response){
            
                        console.log(response);
                        $("#display").empty();
                        for (let i = response.mess.length; i > 0; i--)
                        {
                            var temp="<div class='msg-sender'>"+response.mess[i-1].sender+"</div><div class='msg-time'>"+response.mess[i-1].date+"</div><div class='msg-text'>"+response.mess[i-1].message+"</div>";
                            $("#display").append(temp);
                            
                        }
                        
                        
                        
                    },
                    error: function(response){
                        alert('An error occured')
            
                       
                    }
                });
            },1000);
        })

    </script>
    
</head>
    <body>
            <header>
                <div class="header-div">
                    <a href=""><img width="200" height="75" src="{% static 'img/logo.png' %}" /> </a>
                </div>
            </header>
            <section>
                <div>
                    <h2> {{ room.name }} - TAG : {{ room.room_id }} </h2>
                </div>
                <div class="msg-display">
                    <div class="msg" id="display">
                    </div>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="form-type" value="msg" />
                        <input type="text" name="message" class="msg-write" placeholder="msg" />
                        <button type="submit" class="btn-6"> Envoyer un msg </button>
                    </form>
                </div>
                <div class="select-room">
                    
                    <form action="" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="form-type" value="jroom" />
                        <input type="text" name="roomid" class="form" placeholder="Roomid" />
                        {% for e in messages %}
                        <h5>{{e}}</h5>
                        {% endfor %}

                        <button type="submit" class="btn-6"> Je rejoins un salon </button>
                    </form>
                </div>
            </section>
            <footer>
                <p>Crée par Victor Murris Rémi Routier...</p>
            </footer>
    </body> 
    
</html> 
