{% load static %}

<!DOCTYPE html>
<html lang="fr">


<head>
    <meta charset="utf-8" />
    <title>Pasteque | The ultimate chat</title>
    <link rel="icon" href="media/media/icon.png" sizes="32x32" type="image/png"/>
    <link rel="stylesheet" href="{% static 'core/styles.css' %}" />
</head>
    <body>
        <header>
            <div class="header-div">
                <a href=""><img width="200" height="75" src="{% static 'img/logo.png' %}" /> </a>
            </div>
        </header>
            <section>
                <h2>REGISTRATION</h2>
                <!--Form to enter username email and password-->
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="text" name="username" class="form" placeholder="Username" />
                    <input type="text" name="email"class="form" placeholder="Email" />
                    <input type="password" name="password" class="form"  placeholder="Password" />
                    <input type="password" name="password2" class="form"  placeholder="Confirm Password" />
                    <!--Display of the info in case of fail-->
                    <div class="info-up">
                        {% for e in alers %}
                        <h5>{{e}}</h5>
                        {% endfor %}
                    </div>
                    <!--Send the data to the view-->
                    <button type="submit" class="btn-1"> Sign in </button>
                </form>
                <!--Go to signin if already an account-->
                <div class="little-text">
                    <p>Already got an account ? No problems<a href="signin"> Sign in !</a></p>
                </div>
                <!--Password info-->
                <div class="little-text">
                    <p>Your password need : </p>
                    <ul>
                        <li>At least 8 character</li>
                        <li>A capital letter</li>
                        <li>A number</li>
                    </ul>
                </div>
            </section>
            <footer>
                <p>Create by Victor Murris and Rémi and Routier and Matthis Lahargoue &#169</p>
            </footer>
    </body> 
    
</html> 
