{% load static %}

<!DOCTYPE html>
<html lang="fr">


<head>
    <meta charset="utf-8" />
    <title>Pasteque | The ultimate chat</title>
    <link rel="icon" href="media/media/icon.png" sizes="32x32" type="image/png"/>
    <link rel="stylesheet" href="{% static 'core/styles.css' %}" />
    
</head>
    <body>
        <header>
            <div class="header-div">
                <a href="http://pasteque.alwaysdata.net"><img width="200" height="75" src="{% static 'img/logo.png' %}" /> </a>
            </div>
        </header>
            <section>
                <div class="title">
                <h2>CONNECTION</h2>
                </div>
                <!--Form to enter username and password-->
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="text" name="username" class="form" placeholder="Username" />
                    <input type="password" name="password" class="form" placeholder="Password" />
                    <!--Display of the info in case of wrong password or username entered-->
                    <div>
                        {% for e in alers %}
                        <div class="info-in">
                        <h5>{{e}}</h5>
                        </div>
                        {% endfor %}
                    </div>
                    <!--Send the data from username and password-->
                    <button type="submit" class="btn-13"> Sign In </button>

                </form>
                <!--Go to signup if no account-->
                <div class="little-text">
                    <p>No account ? No problems<a href="signup"> Sign up !</a></p>
                </div>
            </section>
            <footer>
                <p>Create by Victor Murris and Rémi and Routier and Matthis Lahargoue &#169</p>
            </footer>
    </body> 
    
</html> 
