{% load static %}

<!DOCTYPE html>
<html lang="fr">


<head>
    <meta charset="utf-8" />
    <title>Pasteque | Le chat ultime</title>
    <link rel="icon" href="media/media/icon.png" sizes="32x32" type="image/png"/>
    <link rel="stylesheet" href="styles.css" />
</head>
    <body>
            <header>
                <div>
                    <h1>
                        <a href=""> Pasteque </a>
                    </h1>
                    <img width="100" height="100" src="media/media/logo.png" />
                </div>
            </header>
            <section>
                <div>
                    <h2> Bienvenue sur Pasteque </h2>
                </div>
                <div>
                    <p>
                        où tu pourrais faire partie d'un club scolaire, 
                        d'un groupe de gamers ou d'une communauté d'art internationale.
                        Un endroit où toi et ta bande d'amis pouvez simplement passer du temps ensemble.
                        Un endroit qui permettrait plus facilement de discuter tous les jours et de se retrouver
                        plus souvent.
                    </p>
                </div>
                <div>
                    <button onclick="location.href = 'signup'"> Incris-toi </button>
                    <button onclick="location.href = 'signin'"> Connecte-toi </button>
                </div>
            </section>
            <footer>
            </footer>
    </body> 
    
</html> 
